[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICsode6CvFkbmzsS07JbeU1rxO61JV0ZXAwonY8znH/R

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true
